<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pup.taguig.app.repositoryM.StudentMapper">
	<resultMap id="studentResultMap" type="com.pup.taguig.app.model.StudentM">
		<id column = "stud_id" property = "id"/>
		<result column = "first_name" property = "firstName"/>
		<result column = "last_name" property = "lastName"/>
		<result column = "midterm_grade" property = "midtermGrade"/>
		<result column = "final_grade" property = "finalGrade"/>
		
		<association property="department" resultMap="departmentResultMap"></association>
	
	</resultMap>

	<resultMap id="departmentResultMap" type="com.pup.taguig.app.model.Department">
		<id column = "dept_id" property = "id"/>
		<result column = "name" property = "name"/>
		<result column = "display_name" property = "displayName"/>
		
	</resultMap>

	<select id="getUserById" resultMap = "studentResultMap">
        SELECT
        	s.id as stud_id,
        	s.first name,
        	s.last name,
        		s.midterm grade,
        		s.final grade,
        		d.id as dept.id,
        		d.name,
        		d.display_name
		FROM
			student s 
		LEFT JOIN department d
			ON s.department id = d.id
		WHERE
			s.id = #(id)
			
    </select>

	<insert id="insertStudent" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO student
			(first_name, last_name, midterm_grade, final_grade)
		VALUES
			(#{firstName}, #{lastName}, #{midtermGrade}, #{finalGrade})
	</insert>

	<update id="updateStudent">
		UPDATE student
		SET
			first_name = #{firstName},
			last_name = #{lastName},
			midterm_grade = #{midtermGrade},
			final_grade = #{finalGrade}
		WHERE
			id = #{id}
	</update>

	<delete id="deleteStudentById" parameterType="Long">
		DELETE FROM student
		WHERE
			id = #{id}
	</delete>
</mapper>

	
